hr {
    background-color: $gray-300;
    border-color: $gray-300;
    margin: 0;
    border-width: 2px;
}

.bg-light-primary {
    background-color: #FDF0E6;
}

.bg-light-primary hr {
    border-color: $orange-300;
    background-color: $orange-300;
}

.bi {
    min-width: 24px;
    max-width: 24px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .w-sm-auto {
        width: auto!important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}